.example-spacer {
    flex: 1 1 auto;
}
nav {
    margin-right: 15px;
    a {
        text-decoration: none;
        color: #fff;
        transition: 0.3s all ease-in-out;
        &:hover {
            color: tomato;
        }
    }
}
